textarea.inlineedit {
	background-color: transparent;
	border: 0;
	padding: 5px;
	resize: none;
	min-height: 200px;
	border: none;
    background-color: transparent;
    resize: none;
    outline: none;

	border: 1px solid #eee;
}

.bg-dark{
	background-color: #20232a;
}
.bg-lighter{
	background-color: #282c34;
}
.markdown{
	min-height: 200px;
	padding: 5px;
	cursor: pointer;
}

.wrapper {
	display: grid;
	height: 100vh;
	grid-template-columns: 0.3fr 0.4fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
  	"sidebar notes main";
}

@media only screen and (max-width: 500px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-rows:  0.3fr 0.3fr 0.3fr;
		grid-template-areas:
			"sidebar"
			"notes"
			"main";
	}
}
header {
	grid-area: header;
}
#notes {
	grid-area: notes;
	/* overflow-y: auto; */
}
main {
	grid-area: main;
}

#sidebar {
	grid-area: sidebar;
	/* overflow-y: auto; */
}

footer {
	grid-area: footer;
}
.text-xxs {
	font-size: 0.6rem;
	line-height: 0.6rem;

}
.active{
	background-color: #5c90f7;
	color: white;
}
.bg-button-blue{
	background-color: #5c90f7;
	color: white;
}
.bg-button-gray{
	background-color: #5c90f7;
	color: white;
}
